# Pesaflux credentials — obtain from https://pesaflux.co.ke/user (Linked Accounts)
PESAFLUX_API_KEY=SFTPdmWzsvoU
PESAFLUX_EMAIL=pesafluxsandbox@gmail.com
PESAFLUX_BASE_URL=https://api.pesaflux.co.ke
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_2YfOpwT0IgKe@ep-green-credit-aie89erm-pooler.c-4.us-east-1.aws.neon.tech/neondb

