<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="python" arguments="-m gunicorn -w 4 -b 0.0.0.0:%HTTP_PLATFORM_PORT% -k uvicorn.workers.UvicornWorker app.main:app" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" startupTimeLimit="60">
    </httpPlatform>
  </system.webServer>
</configuration>
